<configuration>
  <system.webServer>

<rewrite>
    <rules>
        <remove name="ReactRouter Routes" />
        <rule name="sendToNode">
            <match url="/*" />
            <action type="Rewrite" url="bin/www" />
        </rule>
    </rules>
</rewrite>


    </system.webServer>
</configuration>